* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #4287f5;
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 16px;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.473);
    text-align: justify;
}

p {
    margin-right: 0pt;
    text-align: left;
}

strong {
    line-height: 40pt;
}

div {
    text-align: center;
}