* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body {
    background-color: #4287f5;
}

main {
    background-color: white;
    width: 850px;
    margin: auto;
    padding: 16px;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.473);
    text-align: justify;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

p {
    margin-right: 0pt;
    text-align: left;
    line-height: 20pt;
}

div {
    margin: auto;
    width: 50%;
    /*background-color: red;*/
    width: 250px;
    height: 50pt;
    
}

footer {
    text-align: center;
    margin-top: 25pt;
    /*background-color: green;*/
    /*padding-right: 0pt;*/
}

a {
    text-decoration: none;
    color: black;
    margin-right: 30pt;
}